html{
    background-image: linear-gradient(rgb(11, 241, 134),white);
}
.header-bar{
    padding: 10px;
    text-align: center;
    background-color: rgb(84, 194, 234);
}
a{
    font-size: x-large;
    padding: 20px;
    color: black;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#end-page{
    padding: 5px;
    text-align: center;
    background-color: aquamarine;
    margin: 30px;

}
h1{
  padding: 30px;
  text-align: center;

}
p{
    text-align: center;
    font-size: x-large;
}
table{
    margin: auto;
}
th{
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}
td{
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
}
hr{
    margin: auto;
}
h2{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}